<div class="head-bar-right">
 <div class="left-header">
    <div class="header-title">
   <%= link_to "#{@room.name}", root_path  %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
       <%= link_to "ルーム削除", room_path(@room), method: :delete %>
    </div>
  </div>
</div>