<div class="head-bar-left">
 <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
   <%= link_to "ルーム作成", new_room_path %>
  </div>
</div>

