<div class="head-bar-left">
 <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">ルーム作成</a>
  </div>
</div>

