  <div class="wrapper">
  <div class="head-bar-left">
    <%= render "head_bar_left" %>
    </div>
  <div class="head-bar-right">
    <%= render "head_bar_right" %>
    </div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
  <div class="under-ber">
    <%= render "under_bar" %>
  </div>
</div>