<div class='wrapper'>
  <div class='head-bar-left'>
    <%= render "messages/head_bar_left" %>
  </div>
  <div class="head-bar-right">
 <div class="left-header">
  <div class="scoler">
   <select onChange="location.href=value;">
      <option value="">ルーム一覧</option>
      <% Room.all.each do |room| %>
      <option value= "rooms/<%= room.id %>/messages"><%= room.name %></option>
        <% end %>

      </select>
      </div>
</div>